.nav-menu.horizontal {
  display: flex;
  list-style: circle;
  gap: 32px;
  grid-column: 1;
}

.nav-menu > .nav-link {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  text-underline-offset: 4px;
}

.nav-menu.horizontal > .nav-link:not(:first-child) {
  display: list-item;
}

.nav-menu:not(.horizontal) > .nav-link {
  display: block;
  text-align: center;
}
