footer {
  margin: 182px 50px 87px 50px;
  height: 98px;
  display: flex;
  justify-content: space-between;
}

footer > .socials {
  display: flex;
  gap: 48px;
}

footer > .socials > .social {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer > .socials > .social.youtube {
  background-image: url(../images/yt.svg);
}
footer > .socials > .social.vk {
  background-image: url(../images/vk.svg);
}
footer > .socials > .social.pinterest {
  background-image: url(../images/pinterest.svg);
}
